.form-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-group {
  margin-top: 35px;
  position: relative;
  width: 100% !important;
}

.form-input {
  width: 100%;
  padding: 1.2rem 0.5rem 0.2rem;
  font-size: 15px;
  color: #dddddd;
  border: none;
  border-bottom: 2px solid #4b4b4b;
  background: transparent;
  outline: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  resize: none;
}
input{
  margin-top: 10px;
}

.form-input:focus {
  border-bottom-color: #ffffff;
}

.form-label {
  position: absolute;
  top: 1.2rem;
  left: 0.5rem;
  color: #4f4e4e;
  font-size: 15px;
  pointer-events: none;
  transition: 0.2s ease all;
}


.form-input:focus + .form-label,
.form-group.filled .form-label, 
.form-input:hover + .form-label {
  top: 0;
  font-size: 18px;
  color: #999999;
  height: fit-content;
  font-style: italic;
}
.entered{
  transition: 3s;
  border-bottom: 2px solid #999999 !important;
}
.textarea {
  margin-top: 10px;
}

.form-message{
  top: 1rem;
}

@keyframes BorderColor {
    from {border-color: greenyellow;}
    to   {border-color: green}
    
}
.submit-btn{
  color: #999999 !important;
}
.submit-btn:hover{
  transition: .5s;
   animation: BorderColor infinite .5s;
   color: #b7b7b7 !important;
}


