.menu{
    transition: .5s;
    height: 100%;
    width: 40vw;
    position: sticky;
    top: 0;
    background-color: #686868e7;
    z-index: 2;
}
.menu .icons{
    margin-top: 10px !important;
}

.menu ul{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    transition: .4s;

}
.menu li{
    border-top: 2px solid rgba(74, 196, 74, 0.632);
    border-bottom: 2px solid #353535;
    width: 80%;
    height: 100%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: .6s;

}


.menu li a{
    text-decoration: none;
    color: rgb(31, 31, 31);
    margin: auto 0;
    transition: .6s;
    padding: 8% 25%;
}
.menu a:hover{
    transition: .3s;
    font-size: larger;
}
.menu .icons{
    margin : 2px 0 0 5vw;
}
.shadow{
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}