*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@keyframes BorderColor {
    from {border-color: greenyellow;}
    to   {border-color: green}
    
}

.portfolio{
    width: 90%;
    height: auto;
    position: relative;
}
main{
    width: 100%;
}

/* header */
header{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    position: fixed;
    width: 90%;
    margin: 0 auto;
    top: 0;
    height: 40px;
    z-index: 2;
}
header .right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}
.icons{
    width: 20px;
    height: 20px;    
}
header .left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
}
header .left .icons{
    margin-right: 5px;
}
header .left h4 pre{
    font-size: 150%;
}
li{
    list-style-type: none;
}
header .right li a{
    text-decoration: none;
    color: #fff;
    font-size: 10px;
}
header button{
    background-color: transparent;
    color: #fff;
    font-size: larger;
    border: none;
}

section#profile{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    height: 80vh;
}
.leftProfile{
    z-index: 1;
    font-size: x-large;
    width: 100%;
    margin: 50px auto 0;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rightProfile{
    width: 45%;
    position: absolute;
    top: 0;
    right: 0;
    height: 90%;
}
.rightProfile img{
    width: 100%;
    height: 100%;
    border-radius: 300px 0px 60px 400px;
}

.contactme a{
    text-decoration: none;
    color: #fff;
    font-size: larger;
    border-bottom: 2px solid green;
    padding: 0 5px 5px;
}
.contactme a:hover{
    animation: BorderColor infinite .5s;
}
#profile h1{
    font-size: 6vw;
}
#profile p{
    font-size: 1.8vw;
}
.contactme a{
    margin: 0 0 100px;
}





        /* skills */
#skills{
    margin: 30px 0;
    width: 100%;
}
#skills ul{
    display: grid;
    grid-template-columns: repeat(3, 33.4%);
    width: 100%;
    
}
#skills ul li{
    list-style-type: none;
    margin: 0 auto 20px;
    color: rgb(150, 150, 150);
    width: 100%;
    text-align: left;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}
#skills ul li h3{
    color: #ffffff;
}


            /* projects */
.projects{
    width: 100%;
    margin-bottom: 20px;
    
}
.projects h2{
    font-size: 200%;
    width: 100%;
}
.projects h2 a{
    font-size: 15px;
    float: right;
    text-decoration: none;
    color: #fff;
    border-bottom: 2px solid green;
    padding-bottom: 3px;
}
.projects h2 a:hover{
    animation: BorderColor infinite .5s;
}
.projects ul{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    width: 100%;
    margin: 0 auto;
}
#projects li{
    list-style-type: none;
    background-color: transparent;
    width: 90%;
    text-align: left;
    height: max-content;
    padding: 20px  0;
    margin: 20px auto 0;
    color: #747474;
    border-bottom: 2px solid greenyellow;
}
#projects li:hover{
   animation: BorderColor infinite 1s;
}

#projects li a img{
    width: 100%;
    height: 200px;
}
#projects li a{
    text-decoration: none;
    color: #747474;
}
* a{
    cursor: pointer;
}


            /* contactme */
#contactme{
    display: flex;
    flex-direction: column;
    background-color: #747474;
    width: 100%;
    height: auto;
    padding: 0 0 10px;
}
#contactme .contact{
    display: flex;
    justify-content: space-around;
}
.contact div{
    width: 45%;
}




#contactme button{
    border: none;
    background-color: transparent;
    color: #fff;
    margin: 10px;
    border-bottom: 3px solid green;
    width: fit-content;
    align-self: flex-end;
    padding-bottom: 5px;
    font-size: large;
    padding: 0 7px 5px;
}
#contactme .leftfooter{
    width: 35%;
    color: #363636;
}
#contactme h2{
    font-size: 40px;
    margin-bottom: 1rem;
}


.footer-link{
    display: flex;
    justify-content: space-between;
    width: 90%;
    border-top: 2px solid gray;
    padding-top: 10px;
    margin-top: 20px;
    align-self: center;
}
.right-footer-link{
    display: flex;
    width: 40%;
    justify-content: space-around;
    font-size: small;
}
.right-footer-link a{
    text-decoration: none;
    color: #fff;
}

